@model ProjectViewModel

<h1> Projects</h1>

<div class="container">

    <form class="form-group" method="post" asp-controller="Project" asp-action="List">
        <div class="row">
            <div class="col-md-10">
                <input class="form-control" type="text" placeholder="Search" name="searchString">
            </div>
            <div class="col-md-2">
                <input class="btn btn-primary" type="submit" value="Search" />
            </div>
        </div>
    </form>

    <div class="row mt-3 mb-1">
        <div class="col-md-2">
            <div>
                <a class="btn btn-primary" asp-controller="Project" asp-action="Edit" role="button">Add New Project</a>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Project Code</th>
            <th scope="col">Project Name</th>
            <th scope="col">Project Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Projects.Count() == 0)@ViewBag.SearchResults
        @foreach (var project in Model.Projects)
        {
            <tr class="table-row">
                <td> @project.ProjectCode</td>
                <td> @project.ProjectName</td>
                <td> @project.ProjectDescription </td>
                <td>
                    <div class="Edit">
                        <p class="button">
                            <a class="btn btn-info"
                               asp-controller="Project"
                               asp-action="Edit"
                               asp-route-Id="@project.ProjectID">Edit</a>
                        </p>
                    </div>
                </td>
                <td>
                    <div class="Delete">
                        <p class="button">
                            <a class="btn btn-info"
                               asp-controller="Project"
                               asp-action="Delete"
                               asp-route-Id="@project.ProjectID">Delete</a>
                        </p>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>