@model ProjectViewModel

<h1> Project Listing</h1>
<!-- Search form -->
<div>
    <div class="form-group">
        <form class="form-group" method="post" asp-controller="Project" asp-action="List">
            <input class="form-control" type="text" placeholder="Search" name="searchString">
            <input class="btn btn-primary" type="submit" value="Search" />
        </form>
    </div>
    <div>
        <a class="btn btn-primary" asp-controller="Project" asp-action="Add" role="button">Add New Project</a>
    </div>
</div>

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Project Code</th>
            <th scope="col">Project Name</th>
            <th scope="col">Project Description</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Projects.Count() == 0) @ViewBag.SearchResults 
        @foreach (var project in Model.Projects)
        {
            <tr class="table-row">
                <td> @project.ProjectCode</td>
                <td> @project.ProjectName</td>
                <td> @project.ProjectDescription </td>
                <td>
                    <div class="Edit">
                        <p class="button">
                            <a class="btn btn-info"
                               asp-controller="Project"
                               asp-action="Edit"
                               asp-route-Id="@project.ProjectID">Edit</a>
                        </p>
                    </div>
                </td>
                <td>
                    <div class="Delete">
                        <p class="button">
                            <a class="btn btn-info"
                               asp-controller="Project"
                               asp-action="Delete"
                               asp-route-Id="@project.ProjectID">Delete</a>
                        </p>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>