@model TimeEntryViewModel

    <div class="form-group">
        @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => Model.Employee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(x => Model.Employee, new SelectList(Model.Employees, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Country" })
                @Html.ValidationMessageFor(x => x.Employee, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => Model.Project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(x => Model.Project, new SelectList(Model.Projects, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "Region" })
                @Html.ValidationMessageFor(x => x.Project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Description" class="control-label"></label>
            <input asp-for="@Model.Description" class="form-control" />
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Hours" class="control-label"></label>
            <input asp-for="@Model.Hours" class="form-control" />
            <span asp-validation-for="@Model.Hours" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-primary" asp-controller="TimeEntry" asp-action="Add" role="button">Add</a>
            </div>
        </div>
    </div>

    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Description</th>
                <th scope="col">Hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var timeEntry in Model.TimeEntries)
            {
            <tr class="table-row">
                <td> @timeEntry.Project.ProjectName</td>
                <td> @timeEntry.Description</td>
                <td> @timeEntry.Hours</td>
                <td>
                    <div class="Delete">
                        <p class="button">
                            <a class="btn btn-info"
                               asp-controller="TimeEntry"
                               asp-action="Delete"
                               asp-route-Id="@timeEntry.Id">Delete</a>
                        </p>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>